@media only screen and (min-width: 600px) {
    .ifrwrapper{
        height: 650px;
        width: auto;
    }
    .ifrclass{
        height: 100%;
        width: 100%
    }
}
@media only screen and (max-width: 600px) {
    .ifrwrapper{
        height: 200px;
        width: auto;
    }
    .ifrclass{
        height: 100%;
        width: 100%
    }   
}
