.homeLayout{
    margin: auto auto;
    width: 600px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 5px;   
    /* background-color: #2fc4c4; */
    /* padding: 10px; */    
}
.homeLayout > div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    /* color: white; */
    padding: 3px 0;
    /* font-size: 30px; */
}